<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
      <section name="SecureDocuments.WPF.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SecureDocuments.WPF.Properties.Settings>
      <setting name="ApplicationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUserEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="IsDarkTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableNotification" serializeAs="String">
        <value>True</value>
      </setting>
    </SecureDocuments.WPF.Properties.Settings>
  </userSettings>
</configuration>